body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    background-color: purple;
  }
  h1, h4, p {
    font-family: "Garamond";
    text-align: center;
    color:white;
  }
  div {
    font-family: "Garamond";
  }